body {
    background-color: rgb(213, 206, 197);
    text-align: center;
}

.image {
    border-radius: 50%;
}

.container {
    justify-content: center;
    margin: auto;
    display: flex;
}

.tarjeta {
border-radius: 5%;
padding: 2rem;
margin: auto;
background: #ffffff60;
}

.redessociales {
    padding-top: 5px;
    padding-bottom: 5px;
}

.redessociales li{
display: inline-block;
padding: 2%;
}